html{
	height:100%;
}
body{
	margin:0;
	padding:0;
	height:100%;
	width:100%;
	background-color:#c5c5c5;
	background-image:url('swirl_patterng.png');
	font-family: 'Lato', sans-serif;
}
a{
	color:black;
	text-decoration:none;
	-webkit-transition: text-decoration .4s;
	        transition: text-decoration .4s;
}
a:hover{
	text-decoration:underline;
}
body::-webkit-scrollbar {
	width: 6px;
	height:6px;
}
body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color:#e7e7e7;
}
body::-webkit-scrollbar-thumb {
  	background-color: darkgrey;
  	border-radius:5px;
}
body::-webkit-scrollbar-button:decrement {
	height:10px;
	width:10px;
	background-color:grey;
}
body::-webkit-scrollbar-button:increment:end {
	height:10px;
	width:10px;
	background-color:grey;
}
#displaynews::-webkit-scrollbar {
	width: 6px;
	height:6px;
}
#displaynews::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color:#e7e7e7;
}
#displaynews::-webkit-scrollbar-thumb {
  	background-color: darkgrey;
  	border-radius:5px;
}
#displaynews::-webkit-scrollbar-button:decrement {
	height:10px;
	width:10px;
	background-color:grey;
}
#displaynews::-webkit-scrollbar-button:increment:end {
	height:10px;
	width:10px;
	background-color:grey;
}
#displaynews::-webkit-scrollbar-corner{
	background-color:grey;
}
.wrapper{
	min-height:100%;
	height:auto !important;
	height:100%;
	margin:0 auto -100px;
}
.push{
	height:100px;
}
#illini{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:50px;
	height:65px;
	margin-top:10px;
	border:1px solid transparent;
	-webkit-transition:border .3s;
	        transition:border .3s;
}
#illini:hover{
	border:1px solid orange;
}
#title{
	text-align:center;
}
#t_eng{
	font-size:200%;

}
#t_uni{
	font-size:125%;

}
#t_jpn{
	font-size:125%;

}
#title > p{
	margin-top:0%;
	margin-bottom:0%;
}
#displaynews{
	background-color:white;
	background-color:rgba(255,255,255,.5);
	width:500px;
	height:300px;
	margin-right:auto;
	margin-left:auto;
	border-radius:5px;
	overflow:scroll;
}
.sidebar{
	position:fixed;
	float:left;
	height:100%;
	width: 17em;
	background-color:#353535;
	background: -webkit-linear-gradient(left, #111111 0%, #353535 100%);
	background: linear-gradient(to right, #111111 0%,#353535 100%);
	border-right: 10px solid #c5c5c5;
	background-image:url('linen.png');
}
.vertical{
	width:5px;
	border-radius:5px;
	height:75%;
	position:absolute;
	background-color:grey;
	margin-left:20px;
	margin-top:5px;
}
.horizontal{
	height:4px;
	width:600px;
	border-radius:10px;
	background-color:#353535;
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
}
.linkbar > li{
	list-style:none;
}
li a{
	font-size:1.7em;
	color:white;
	text-decoration:none;
	-webkit-transition: color .4s;
	        transition: color .4s;
}
li a:hover{
	color:orange;
	text-decoration:none;
}
.innertext{
	margin-left:auto;
	margin-right:auto;
	width:600px;
	text-align:center;
}
.innertext p{
	text-shadow:1px 0px rgba(100,100,100,.2);
}
.requirements a{
	font-size:170%;
}
.footer{
	text-align:center;
	width:50%;
	color:#353535;
	z-index:5;
	margin-left:auto;
	margin-right:auto;
}
.large{
	font-size:150%;
}
.mtop{
	margin-top:10px;
}
.marginr{
	margin-right:8px;
	color:black;
	text-decoration:none;
}
.marginr:hover{
	color:white;
	text-decoration:none;
}
.instructors{
	margin-top:20px;
	width:40%;
	height:auto;
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-flex-wrap:wrap;
	    -ms-flex-wrap:wrap;
	        flex-wrap:wrap;
	-webkit-box-pack:center;
	-webkit-justify-content:center;
	    -ms-flex-pack:center;
	        justify-content:center;
	-webkit-box-align:start;
	-webkit-align-items:flex-start;
	    -ms-flex-align:start;
	        align-items:flex-start;
	-webkit-align-content:space-between;
	    -ms-flex-line-pack:justify;
	        align-content:space-between;
	margin-left:auto;
	margin-right:auto;
}
.prof{
	text-align:center;
	width:250px;
	height:100px;
	margin:auto;
}
.prof p{
	margin:0;
}
#messagebox{
	width:500px;
	margin-left:auto;
	margin-right:auto;
	overflow:auto;
}
input[type=text]{
	font-size:89%;
	height:29px;
	width:495px;
	background-color:#f2f2f2;
	border:2px solid #e7e7e7;
	border-radius:3px;
	font-weight:bold;
	color:#575757;
}
.lg{
	font-size:125%;
}
.lgr{
	font-size:140%;
}
.parent{
	display:none;
}
@media print, screen and (max-width:1260px) {
	.inner{
		width:80%;
		float:right;
	}
	.sidebar{
		width:20%;
		border-right:5px solid #c5c5c5;
	}
	.sidebar ul li a{
		font-size:1em;
	}
	.instructors{
		height:auto;
		width:60%;
	}
	.footer{
		width:80%;
		height:100px;
	}
}
@media print, screen and (max-width:800px){
	.inner{
		width:auto;
		float:none;
	}
	.sidebar{
		position:static;
		width: 100%;
		height:auto;
		background-color:#353535;
		background: -webkit-linear-gradient(left, #111111 0%, #353535 100%);
		background: linear-gradient(to right, #111111 0%,#353535 100%);
		border-bottom: 3px solid #c5c5c5;
		border-right:0px;
		background-image:url('linen.png');
	}
	.vertical{
		display:none;
	}
	.horizontal{
		width:80%;
	}
	#illini{
		float:left;
		margin-top:0;
	}
	.innertext{
		width:80%;
	}
	.inbar{
		display: inline-block;
        width: 120px;
        height: 65px;
        position: relative;
        float:right;
	}
	.parent{
		height: 100%;
        width: auto;
        display: block;
        cursor: pointer;
        line-height: 30px;
        height: 65px;
        border-radius: 5px;
        background: #222222;
		/*background: linear-gradient(135deg, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
        border: 1px solid #151515;*/
        border-bottom: 0px solid #777;
        color: #282D31;
        font-weight: bold;
        z-index: 2;
        position: relative;
        -webkit-transition: border-radius .1s linear, background .1s linear, z-index 0s linear;
        -webkit-transition-delay: .8s;
        text-align: center;
	}
	.parent p{
		color:white;
	}
	.parent:hover, .content:hover ~.parent{
		/*background:#353535;
		background: linear-gradient(160deg, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
		-webkit-transition-delay:0s, 0s, 0s;
	}
	.content:hover ~.parent{
		border-bottom-left-radius:0;
		border-bottom-right-radius:0;
		z-index:0;
	}
	.content{
		position: absolute;
        top: 0;
        display: block;
        z-index: 1;
        height: 0;
        width: 99%;
        padding-top: 65px;
        -webkit-transition: height .5s ease;
        -webkit-transition-delay: .4s;
        border: 1px solid #151515;
        border-right:0;
        border-radius: 5px;
	}
	.inbar:active .content{
		height: auto;
        z-index: 3;
        -webkit-transition-delay: 0s;
	}
	.content:hover{
		height: auto;
        z-index: 3;
        -webkit-transition-delay: 0s;
	}
	.content ul{
		background: #fff;
        margin: 0;
        padding: 0;
        overflow: hidden;
        height: 100%;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
	}
	.content li:hover{
		background:#eee;
		color:#333;
	}
	.content li{
		list-style: none;
        text-align: left;
        color: #888;
        font-size: 14px;
        line-height: 30px;
        height: 30px;
        padding-left: 10px;
        border-top: 1px solid #ccc;
	}
	.content li:last-of-type{
		border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
	}
	ul li a{
		color:#353535;
	}
	#displaynews{
		width:90%;
	}
	#messagebox{
		width:90%;
	}
	input[type=text]{
		width:99%;
	}
	.footer{
		width:100%;
		height:auto;
	}
}